body{
  text-align: center;
  background-image:url("img/fundo.png");
  background-size: cover;
}

#enviar{
    position: absolute;
    top: 25vw;
    left:38vw;
    width: 15vw;
    height: 8vw;
    background-size: cover;
    
 }

 #mostra{
    color: white;
 }

#casas {
    position: absolute;
    /*top: 25vw;
    left:38vw;*/
    width: 20vw;
    height: 10vw;
    background-size: cover;
    border: 3px solid black;
   }
