body{
  background-image:url("img/fundo.png");
  background-size: cover;
}

#enviar{
    position: absolute;
    left:70vw;
    width: 15vw;
    height: 8vw;
    background-size: cover;
    
 }

 #mostra{
    position:absolute;
    color: white;
    width:40vw;
    top:0vw;
 }

#casas {
    position: absolute;
    left:45vw;
    width: 20vw;
    height: 10vw;
    background-size: cover;
    border: 3px solid black;
   }
